/* create color variables */
:root {
  --main-color: #468189;
  --main-color-light: #77aca2;
  --main-color-gray: #9dbebb;
  --secondary-color: #f4e9cd;
  --secondary-color-light: #f7f1e8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--main-color-light);
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: var(--main-color);
}

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95vw;
  height: 400px;
}
.banner-title {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}
.banner-subtitle {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem 0;
}
/* Card.css */

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: var(--main-color);
  background-color: var(--secondary-color-light);
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-heading {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card-description {
  font-size: 1rem;
  margin: 10px 0;
}

.card-details {
  list-style-type: none;
  padding: 0;
}

.card-details li {
  margin: 5px 0;
}

.card-cta {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.card-cta:hover {
  background-color: #0056b3;
}
